<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container mt-3">
    <h1>Проект job4j_dreamjob</h1>
    <ul>
        <li><a th:href="@{/vacancies}">Вакансии</a></li>
        <li><a th:href="@{/candidates}">Кандидаты</a></li>
        <li><a th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a th:href="@{/candidates/create}">Создать резюме</a></li>
    </ul>
</div>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>